 .services-page {
  font-family: "Montserrat", sans-serif;
}

/* ===== HERO ===== */

.services-hero {
  padding: 4rem 4rem;
  background: linear-gradient(
    180deg,
    var(--light-blue) 0%,
    #ffff 50%
  );
}

 .services-hero-content {
  max-width: 1300px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}

 .services-hero-text {
  flex: 1.4;
}

.services-hero-text h1 {
  font-family: "Lato", sans-serif;
  color: #800000;
  font-size: 1.7rem;    /* bigger hero title */
  margin-bottom: 0.5rem;
}

.services-hero-text h2 {
  color: var(--sky-blue);
  font-size: 3.4rem;
  margin-bottom: 1.2rem;
}

.services-hero-text p {
  max-width: 620px;     /* wider paragraph */
  font-size: 1.1rem;
  line-height: 1.8;
  color: #555;
}


.services-hero-img {
  flex: 1.4;
  display: flex;
  justify-content: center;
}

.services-hero-img img {
  width: 100%;
  max-width: 600px;     
  height: 500px;
  object-fit: cover;
  border-radius: 20px;
}

/* ===== WHAT WE OFFER ===== */
.services-offer {
  padding: 5rem 4rem;
  background: url("/img24.jpg") center center / cover no-repeat;
  position: relative;
}
/* 50% opacity overlay */
.services-offer::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.881);
  
}

/* Keep content above overlay */
.services-offer > * {
  position: relative;
  z-index: 1;
}
.services-offer h1 {
  font-family: "Lato", sans-serif;
  color: #800000;
  text-align: center;
  font-size: 2.8rem;
}

.services-offer h2 {
  color: var(--sky-blue);
  text-align: center;
  margin-bottom: 4rem;
}

/* Card */
.offer-card {
  display: block;
  width: 100%;
  background: #ffffff;
  border: solid 2px var(--light-pink);
  border-radius: 16px;
  padding: 2rem 3rem;
  margin-bottom: 4rem;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.06);
}

/* Slide-up animation */
.slide-up {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease-out;
}

.slide-up.in-view {
  opacity: 1;
  transform: translateY(0);
}

/* Row */
.offer-row {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 1000px;
}

/* Image */
.offer-image img {
  width: 100%;
  max-width: 300px;

}

.offer-text{
  max-width: 600px;
}


/* Text */
.offer-card .offer-text h3 {
  color: #800000;
  margin-bottom: 1rem;
}


/* ===== FAQ ===== */
.services-faq {
  background: #f7fbff;
  padding: 5rem 4rem;
}

.services-faq h1 {
  font-family: "Lato", sans-serif;
  color: #800000;
  text-align: center;
}

.services-faq h2 {
  color: #1e6fb9;
  text-align: center;
  margin-bottom: 3rem;
}

.faq-list {
  max-width: 900px;
  margin: auto;
}

.faq-item {
  background: #fff;
  padding: 1.8rem;
  border-radius: 12px;
  margin-bottom: 1.5rem;
  box-shadow: 0 8px 20px rgba(0,0,0,0.06);
}
